# Python artifacts
__pycache__/
*.pyc
*.pyo
*.pyd
*build*/
*dist*/
*.egg-info/
*.so

# Virtual Environments
.env
.venv
env/
venv/
batch_size_env/

# IDE / Editor specific
.vscode/
.idea/
*.swp
*.swo

# OS-specific
.DS_Store
Thumbs.db

# Project-specific output directories
/experiments/
/reports/
/logs/
/plots/
/.mypy_cache/

# Project-specific data files
# Read README for instructions on how to acquire and process it.
/data/mnist1m/mnist1m.npz
/data/mnist1m/raw/*.zip

# Jupyter Notebook & Test outputs
.ipynb_checkpoints
.pytest_cache/
.coverage
htmlcov/